@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:host {
  @include mat.expansion-overrides((
    container-background-color: rgb(0, 0, 0),
    container-text-color: rgb(255, 255, 255),
    header-description-color: rgb(255, 255, 255),
    header-text-color: rgb(255, 255, 255)
  ));
}

.custom-snack{
  position: absolute;
  width: 100%;
  height: 50vh;
}