.star {
  margin: 0px 0px;
  color: rgb(132, 132, 132);
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
  transform: scale(1);
}
.star {
  .mat-icon {
    width: 40px;
    height: 40px;
  }
}
.star-gold {
  color: rgb(0, 36, 68);
}

.star-rating-animation:hover .star-hover {
  color: rgb(38, 61, 115);
}

.star-rating-animation .star-hover:hover ~ .star-hover {
  color: rgb(0, 36, 68);
}
.star-rating-animation .star-hover:hover {
  transform: scale(1.3);
  color: rgb(68, 22, 0);
}
