.background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
  align-items: flex-start;
  background-color: #dfdfcc;
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  max-width: 1024px;
  max-height: 100vh;
  flex-grow: 1;
  overflow-y: scroll;
}
.counter-ctr{
  display: flex; 
  justify-content: center;
  flex-wrap: wrap;

  mat-radio-group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.cool-border{
  border: 33px solid black;
  border-image: url(../assets/border.png) 34% repeat;
  background-color: white;
}

.bg-r{
  background: url(../assets/right-back.png) top left no-repeat;
}

.bg-l{
  background: url(../assets/left-back.png) top right no-repeat;
}
.bg-side{
  width: calc((100vw - 1024px) / 2);
  height: 100vh;
  position: sticky;
  top: 0;
}

h1,
h2 {
  margin: 0;
}
h1 {
  font-family: "Aladin", cursive;
  font-size: 3rem;
  line-height: 4rem;
  background: linear-gradient(to right, #b8860b, #c99b0e, #d6ae11, #e1bf14, #ecce17);
  -webkit-text-fill-color: transparent;

  img{
    max-height: 150px;
    width: 100%;
  }
}
.category {
  background: linear-gradient(to bottom, #e1b6580f 50%, #c9b67d45 50%);
  background-size: 100% 2px;
  background-position: 0 50%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  position: relative;

  h2, h3 {
    display: inline;
    margin: 0.5rem 0;
    padding: 0 0.3rem;
    font-family: "Special Elite", cursive;
  }
  h3{
    position: absolute;
    top: -24px;
    font-size: smaller;
  }
}

.sticky-footer{
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
  

  .horus-eye{
    width: 100%;
    height: 100%;
    position: relative;

    button{
      z-index: 2;
      position: absolute;
      width: 50px;
      height: 50px;
      right: 0;
      bottom: 0;
      border: none;
      cursor: pointer;
      background-color: transparent;
      
      &.open{
        background-image: url('../assets/eye-closed.png');
      }
      &.closed{
        background-image: url('../assets/eye-opened.png');
      }
    }
  }
}