<div class="background">
  <div class="bg-l bg-side"></div>
  <div class="wrapper">
    <div class="counter-ctr" *ngIf="true">
      <strong style="font-size: 14px;" class="mat-mdc-radio-button mat-internal-form-field">Define Counter type: </strong>
      <mat-radio-group
        aria-labelledby="example-radio-group-label"
        [formControl]="counterType">
        @for (counter of counterTypes; track counter) {
          <mat-radio-button [value]="counter.key">{{counter.label}}</mat-radio-button>
        }
      </mat-radio-group>
    </div>  
    <h1 class="center">
      <img src="../assets/title.png" alt="Mage the Ascension" srcset="../assets/title.png">
    </h1>
    <div class="cool-border">
      <div class="category">
        <h2 class="center">Information</h2>
      </div>
      <app-sheet-info></app-sheet-info>
    </div>
    <div class="cool-border">
      <div class="category">
        <h3 class="center">
          @if (counterType.value === ECounter.CREATE) {
            Character Creation: ( 7 / 5 / 3 )
          } @else if (counterType.value === ECounter.FREEBIE) {
            Attribute Freebie Cost: 5 per dot
          } @else if (counterType.value === ECounter.EXPERIENCE) {
            Attribute XP Cost: current rating x 4
          }
        </h3>        
        <h2 class="center">Attributes</h2>
      </div>
      <app-section [counterType]="counterType.value" [desc]="attributesDesc" [type]="EStat.ATTRIBUTE"></app-section>
    </div>
    <div class="cool-border">
      <div class="category">
        <h3 class="center"> 
          @if (counterType.value === ECounter.CREATE) {
            Character Creation:  ( 13 / 9 / 5 )
          } @else if (counterType.value === ECounter.FREEBIE) {
            Ability Freebie Cost: 2 per dot
          } @else if (counterType.value === ECounter.EXPERIENCE) {
            Ability XP Cost:  3
          }
        </h3>  
        <h2 class="center">Abilities</h2>
      </div>
      <app-section [counterType]="counterType.value" [desc]="skillsDesc" [type]="EStat.SKILL"></app-section>
    </div>
    <div class="cool-border">
      <div class="category">
        <h3 class="center"> 
          @if (counterType.value === ECounter.CREATE) {
            6, with the Affinity Sphere receiving the first dot.
          } @else if (counterType.value === ECounter.FREEBIE) {
            Freebie Cost: 7 per dot
          } @else if (counterType.value === ECounter.EXPERIENCE) {
            XP Costs:  New Sphere 10 |
            Affinity Sphere current rating x 7 | 
            Other Sphere current rating x 8
          }
        </h3>  
        <h2 class="center">
          Spheres
          <span>: {{stateSvc.creationCounterState$()[EStat.SPHERE]}}</span>
        </h2>
      </div>
      <app-section [counterType]="counterType.value" [desc]="spheresDesc" [type]="EStat.SPHERE"></app-section>  
    </div>
    <div class="sticky-footer">
      <div class="horus-eye">
        @if(footerSvc.hasFooterState$()){
          <button [ngClass]="footerSvc.showFooter$() ? 'open' : 'closed'" (click)="footerSvc.toggle()"></button>
          @if(footerSvc.showFooter$()){
            <app-custom-snack></app-custom-snack>
          }
        }
      </div>
    </div>
  </div>
  <div class="bg-r bg-side"></div>
</div>