<!-- <ng-container *ngFor="let skill of skills">
    <p>{{skill.label}}</p>
</ng-container> -->
<div class="wrapper">
    <div class="attr-section" *ngFor="let attribute of data">
        <h4>{{attribute[0].type}}: {{attrSum[attribute[0].type]}}</h4>
        <div class="attr" *ngFor="let attr of attribute">
            <strong>{{attr.label}}</strong>
            <div>
                <app-star-rating (rated)="handleRated($event, attr.type, attr.label)"></app-star-rating>
            </div>
        </div>
    </div>
</div>