.wrapper {
  display: flex;
  justify-content: space-evenly;

  div {
    min-width: 200px;
    h4 {
      margin: 0.5rem 0;
    }
  }
}
.manzanamanzanamanzana {
  background-color: blue;
  color: white;
}
